<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<style>
    .ng-invalid {background-color: lightpink;}
    .ng-valid {background-color: lightgreen;}
    .span-error {color: red; font-weight: bold;}
</style>
<h2>Finalizacja zamówienia</h2>
<p>Wprowadź dane wysyłkowe, by przekazać zamówienie do realizacji</p>
<form name="shippingForm" novalidate>
    <div class="well">
        <h3>Odbiorca</h3>
        <div class="form-group">
            <label>Imię i nazwisko</label>
            <input name="name" class="form-control" ng-model="data.shipping.name" required/>
            <span class="error" ng-show="shippingForm.name.$error.required">
                Proszę podać imię i nazwisko
            </span>
        </div>
        <h3>Adres</h3>
        <div class="form-group">
            <label>Ulica</label>
            <input name="street" class="form-control" ng-model="data.shipping.street" required/>
            <span class="error" ng-show="shippingForm.street.$error.required">
                Proszę podać ulicę
            </span>
        </div>
        <h3>Opcje</h3>
        <div class="checkbox">
            <label>
                <input name="giftwrap" type="checkbox" ng-model="data.shipping.giftwrap" />
                Zapakuj jako prezent
            </label>
        </div>
        <div class="text-center">
            <button ng-disabled="shippingForm.$invalid" class="btn btn-primary">Dokończ zamówienie</button>
        </div>
    </div>
</form>