<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">


    <head>
        <title>Hello from GoToGoal home page</title>
    </head>

    <body>
        <div class="row-fluid" ng-controller="foodProductCtrl" ng-app="foodProductApp" layout:fragment="content">
            <h2>
                <span class="label label-default" ng-class="warningLevel()">
                    {{notEatenCount()}}
                </span> 
            </h2>
            <h3>
                {{test.test}}
            </h3>

            <div class="panel">
                <div class="input-group">
                    <input class="form-control" ng-model="name"/>
                    <input class="form-control" ng-model="calories"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="addNewProduct(name, calories)">Dodaj</button>
                    </span>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Kalorie</th>
                            <th>Zjedzone</th>
                            <th>Zjedzone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in foodProducts.products | checkedProducts:showEaten | orderBy:'calories'">
                            <td>{{product.name}}</td>
                            <td>{{product.calories}}</td>
                            <td>{{product.eaten}}</td>
                            <td><input type="checkbox" ng-model="product.eaten"/></td>
                        </tr>
                    </tbody>
                </table>
                <div class="checkbox-inline">
                    <label><input type="checkbox" ng-model="showEaten"/>Pokaż zjedzone</label>
                </div>
            </div>
        </div> 
    </body>
</html>

