<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">


    <head>
        <title>Angualar Rest</title>
    </head>

    <!-- to równie dobrz by mogło być w sekcji head bez <th:block layout:fragment="script><th:block> i też by dziłało -->
    <th:block layout:fragment="script">
        <script src="/angularjs/rest/macronutrientsCalculator.js"></script>
        <script src="/angularjs/rest/rest.js"></script>
    </th:block>

    <body>
        <div ng-app="restModule" ng-controller="restController" class="row-fluid" layout:fragment="content">
            <div class="row-fluid">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3>Dzienniki żywieniowe
                                <button type="button" class="btn-primary pull-right">
                                    <span class="glyphicon glyphicon-plus "></span> 
                                </button>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button"> 
                                        <span class="glyphicon glyphicon-search "></span> 
                                    </button>
                                </span>
                                <input type="text" class="form-control" placeholder="Data"/>
                            </div>
                            <hr/>
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="nutritionDay in nutritionDays.content">
                                    {{nutritionDay.date}}
                                    {{nutritionDay.id}}
                                    <button type="button" ng-click="getNutritionUnits(nutritionDay.id)" class="btn btn-primary pull-right">
                                        <span class="glyphicon glyphicon-search"></span> 
                                    </button>
                                    <button type="button" class="btn btn-primary pull-right">
                                        <span class="glyphicon glyphicon-pencil"></span> 
                                    </button>
                                    <button type="button" class="btn btn-primary pull-right">
                                        <span class="glyphicon glyphicon-trash"></span> 
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-md-4" ng-hide="true">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3>Dodaj produkt żywnościowy
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group row">
                                <label class="col-md-3 control-label">Nazwa</label>
                                <div class="col-md-4">
                                    <input class="form-control" id="focusedInput" type="text" ng-model="foodProductTest.name" placeholder="Nazwa"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 control-label">Kategoria</label>
                                <div class="col-md-4">
                                    <input class="form-control" id="focusedInput" type="text" ng-model="foodProductTest.category" placeholder="Kategoria"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 control-label">Kalorie</label>
                                <div class="col-md-4">
                                    <input class="form-control" id="focusedInput" type="text" ng-model="foodProductTest.calories" placeholder="Kalorie"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 control-label">Białka</label>
                                <div class="col-md-4">
                                    <input class="form-control" id="focusedInput" type="text" ng-model="foodProductTest.proteins" placeholder="Białka"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 control-label">Węglowodany</label>
                                <div class="col-md-4">
                                    <input class="form-control" id="focusedInput" type="text" ng-model="foodProductTest.carbohydrates" placeholder="Węglowodany"/>
                                </div>
                            </div>
                            <div class="form-group row" >
                                <label class="col-md-3 control-label">Tłuszcze</label>
                                <div class="col-md-4">
                                    <input class="form-control" id="focusedInput" type="text" ng-model="foodProductTest.fats" placeholder="Tłuszcze"/>
                                </div>
                            </div>
                            <div class="form-group row" >
                                <label class="col-md-3 control-label">Dodatkowe pole</label>
                                <div class="col-md-4">
                                    <input class="form-control" id="additiona" type="text" ng-model="foodProductTest.additional" placeholder="Dodatkowe"/>
                                </div>
                            </div>
                            Testowy produkt: {{foodProductTest}}
                            <br/>
                            Utworzoney produkt: {{created}}
                            <br/>
                            <button class="btn btn-default" ng-click="saveTestFoodProduct()">Zapisz produkt testowy</button>
                            <br/>
                            <button class="btn btn-default" ng-click="updateExistedProduct()">Update już istniejącego produktu</button>
                            <br/>
                            <button class="btn btn-default" ng-click="createProduct()">Stwórz nowy produkt </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <button ng-click="getNutritionUnitToEdit()">EDYTUJ</button>
                    {{test.message}}
                    <button ng-click="test.returnValue()">EDYTUJ</button>
                    {{test.returnedValue}}

                    <div class="panel panel-primary">
                        <div class="panel-heading">EDYCJA</div>
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nazwa</th>
                                        <th>Kategoria</th>
                                        <th>Gramy</th>
                                        <th>Kalorie</th>
                                        <th>Białka</th>
                                        <th>Węglowodany</th>
                                        <th>Tłuszcze</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="eatenFoodProduct in editedNutritionUnit.content.eatenFoodProducts">
                                        <td>{{eatenFoodProduct.name}}</td>
                                        <td>{{eatenFoodProduct.category}}</td>
                                        <td><input type="number" ng-model="eatenFoodProduct.grams" ng-change="updateEatenFoodProduct(eatenFoodProduct)"/></td>
                                        <td>{{eatenFoodProduct.macronutrients.allCalories| number:1}}</td>
                                        <td>
                                            {{eatenFoodProduct.macronutrients.proteins.grams| number:1}}  <br/> 
                                            {{eatenFoodProduct.macronutrients.proteins.calories.amount| number:1}}
                                            ({{eatenFoodProduct.macronutrients.proteins.calories.percentage| number:1}}%) 
                                        </td>
                                        <td>
                                            {{eatenFoodProduct.macronutrients.carbohydrates.grams| number:1}}  <br/> 
                                            {{eatenFoodProduct.macronutrients.carbohydrates.calories.amount| number:1}}
                                            ({{eatenFoodProduct.macronutrients.carbohydrates.calories.percentage| number:1}}%) 
                                        </td>
                                        <td>
                                            {{eatenFoodProduct.macronutrients.fats.grams| number:1}}  <br/> 
                                            {{eatenFoodProduct.macronutrients.fats.calories.amount| number:1}}
                                            ({{eatenFoodProduct.macronutrients.fats.calories.percentage| number:1}}%) 
                                        </td>
                                        <td>
                                            <button type="button" ng-click="deleteEatedFoodProductFromCurrentNutritionUnit(eatenFoodProduct)" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-trash"></span> 
                                            </button>
                                        </td>

                                    </tr>
                                    <tr  class="active">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            {{editedNutritionUnit.content.macronutrients.allCalories| number:1}}
                                        </td>
                                        <td>
                                            {{editedNutritionUnit.content.macronutrients.proteins.grams| number:1}} <br/>
                                            {{editedNutritionUnit.content.macronutrients.proteins.calories.amount| number:1}}
                                            ({{editedNutritionUnit.content.macronutrients.proteins.calories.percentage| number:1}}%)
                                        </td>
                                        <td>
                                            {{editedNutritionUnit.content.macronutrients.carbohydrates.grams| number:1}} <br/>
                                            {{editedNutritionUnit.content.macronutrients.carbohydrates.calories.amount| number:1}}
                                            ({{editedNutritionUnit.content.macronutrients.carbohydrates.calories.percentage| number:1}}%)
                                        </td>
                                        <td>
                                            {{editedNutritionUnit.content.macronutrients.fats.grams| number:1}} <br/>
                                            {{editedNutritionUnit.content.macronutrients.fats.calories.amount| number:1}}
                                            ({{editedNutritionUnit.content.macronutrients.fats.calories.percentage| number:1}}%)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {{editedNutritionUnit}}
                        <div class="panel-footer  clearfix ">
                            <div class="row">
                                <div class="col-md-1">
                                    <button  class="btn btn-primary" ng-click="addFoodProductToNutritionUnit(editedNutritionUnit.foodProductToAdd,editedNutritionUnit.content)">
                                        Dodaj <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <ui-select ng-model="editedNutritionUnit.foodProductToAdd">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected.name"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in (foodProducts | filter: $select.search) track by item.id">
                                            <div ng-bind="item.name"></div>
                                            <small>
                                                <b>{{item.calories}}</b>
                                                (<b>B:</b> {{item.proteins}})
                                                (<b>W:</b> {{item.carbohydrates}})
                                                (<b>T:</b> {{item.fats}})
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div> 
                            </div>


                            <button  class="btn btn-primary pull-right" ng-click="saveEditedNutritionUnit(editedNutritionUnit.content)">
                                Zapisz <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button  class="btn btn-primary pull-right">
                                Anuluj <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>



                    </div>


                </div>
            </div>

        </div>
    </body>
</html>

