<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">


    <head>
        <title>Angualar Rest</title>
    </head>

    <!-- to równie dobrz by mogło być w sekcji head bez <th:block layout:fragment="script><th:block> i też by dziłało -->
    <th:block layout:fragment="script">
        <script src="/angularjs/rest/nutritionResourceHandler.js"></script>
        <script src="/angularjs/rest/macronutrientsCalculator.js"></script>
        <script src="/angularjs/rest/rest.js"></script>
    </th:block>

    <body>

        <div ng-app="restModule" ng-controller="restController" class="row-fluid" layout:fragment="content">
            {{currentNutritionDay}}
            <div class="row center-block ">
                <div class="col-md-8">
                    <ng-include src="'/templates/angularRest/nutritionDaysList.html'" />  
                </div>
            </div>
            <div class="row center-block">
                <div class="col-md-8">
                    <ng-include src="'/templates/angularRest/currentNutritionDay.html'" />
                </div>
            </div>
        </div>
    </body>
</html>

