<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>
            Dziennik żywieniowy {{currentNutritionDay.content.date}}
        </h2>

    </div>
    <div class="panel-body"> 
        <div class="input-group">
            <span class="input-group-addon">Date</span>
            <input type="text" class="form-control" aria-describedby="basic-addon" ng-model="currentNutritionDay.content.date" />
        </div>

        <div class="clearfix" ng-repeat="meal in currentNutritionDay.content.meals">
            <ng-include src="'/templates/angularRest/mealInCurrentNutritionDay.html'" />
        </div>       
    </div>
    <div class="panel-footer  clearfix ">
        <h4>  
            <b>Kalorie</b> {{currentNutritionDay.content.macronutrients.allCalories| number:1}}

            <b> Białka </b>
            {{currentNutritionDay.content.macronutrients.proteins.grams| number:1}} g 
            {{currentNutritionDay.content.macronutrients.proteins.calories.amount| number:1}} 
            ({{currentNutritionDay.content.macronutrients.proteins.calories.percentage| number:1}}%) kcal 

            <b>Węglowodany</b> 
            {{currentNutritionDay.content.macronutrients.carbohydrates.grams| number:1}} g 
            {{currentNutritionDay.content.macronutrients.carbohydrates.calories.amount| number:1}} 
            ({{currentNutritionDay.content.macronutrients.carbohydrates.calories.percentage| number:1}}%) kcal 

            <b>Tłuszcze</b>  
            {{currentNutritionDay.content.macronutrients.fats.grams| number:1}} g
            {{currentNutritionDay.content.macronutrients.fats.calories.amount| number:1}} 
            ({{currentNutritionDay.content.macronutrients.fats.calories.percentage| number:1}}%) kcal
        </h4>
        <button class="btn-lg btn-primary pull-right" ng-click="saveCurrentNutritionDay(currentNutritionDay)">
            Zapisz dziennik
        </button>
        <button  class="btn-lg btn-primary pull-right" ng-click="addEmptyMealToNutritionDay(currentNutritionDay.content)">
            Dodaj posiłek
        </button>

    </div>

</div>
