<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>
            Dziennik żywieniowy {{currentNutritionDay.content.date}}
        </h2>

    </div>
    <div class="panel-body"> 
        <div class="input-group">
            <span class="input-group-addon">Date</span>
            <input type="text" class="form-control" aria-describedby="basic-addon" ng-model="currentNutritionDay.content.date" />
        </div>
        <ul class="list-group">
            <li class="list-group-item clearfix" ng-repeat="meal in currentNutritionDay.content.meals">
               <ng-include src="'/templates/angularRest/mealInCurrentNutritionDay.html'" />
            </li>       
        </ul>
    </div>
    <div class="panel-footer  clearfix ">
        <button  class="btn btn-primary pull-right" ng-click="addEmptyMealToNutritionDay(currentNutritionDay.content)">
            Dodaj posiłek <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
    
    <div class="panel-footer  clearfix ">
        <button  class="btn btn-primary pull-right" ng-click="saveCurrentNutritionDay(currentNutritionDay)">
            ZAPISZ DZIEŃ ŻYWIENIOWY <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
</div>
