<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Dzienniki żywieniowe
            <button type="button" class="btn-primary pull-right" ng-click="createOrEditNutritionDay()">
                <span class="glyphicon glyphicon-plus "></span> 
            </button>
        </h2>
    </div>
    <div class="panel-body">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button"> 
                    <span class="glyphicon glyphicon-search "></span> 
                </button>
            </span>
            <input type="text" class="form-control" placeholder="Data"/>
        </div>
        <hr/>
        <ul class="list-group">
            <li class="list-group-item clearfix" ng-repeat="nutritionDay in nutritionDays.content">
                <h3>{{nutritionDay.date}}</h3>
                <h4>
                    <b>Kalorie</b> {{nutritionDay.macronutrients.allCalories| number:1}}
                    <span>
                        <b> Białka </b>
                        {{nutritionDay.macronutrients.proteins.grams| number:1}} g 
                        {{nutritionDay.macronutrients.proteins.calories.amount| number:1}} 
                        ({{nutritionDay.macronutrients.proteins.calories.percentage| number:1}}%) kcal 
                    </span>
                    <b>Węglowodany</b> 
                    {{nutritionDay.macronutrients.carbohydrates.grams| number:1}} g 
                    {{nutritionDay.macronutrients.carbohydrates.calories.amount| number:1}} 
                    ({{nutritionDay.macronutrients.carbohydrates.calories.percentage| number:1}}%) kcal 

                    <b>Tłuszcze</b>  
                    {{nutritionDay.macronutrients.fats.grams| number:1}} g
                    {{nutritionDay.macronutrients.fats.calories.amount| number:1}} 
                    ({{nutritionDay.macronutrients.fats.calories.percentage| number:1}}%) kcal 
                </h4>
                <button type="button" ng-click="createOrEditNutritionDay(nutritionDay)" class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-search"></span> 
                </button>
                <button type="button" class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-pencil"></span> 
                </button>
                <button type="button" ng-click="deleteNutritionDay(nutritionDay)" class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-trash"></span> 
                </button>
            </li>
        </ul>
    </div>
</div>               
