<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Domyślny tytuł</title>
        <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen,projection"/>
        <!-- <link rel="stylesheet" href="webjars/bootstrap-material-design/0.3.0/css/material.css"/> -->
        <link rel="stylesheet" href="webjars/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.css"/>
        <link rel="stylesheet" href="webjars/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker3.css"/>
        <link rel="stylesheet" href="/webjars/angular-ui-select/0.19.6/select.css"/>
        <link type="text/css" href="css/index.css" rel="stylesheet" />

        <script src="/webjars/jquery/2.1.4/jquery.js"></script>  
        <script src="/webjars/angularjs/1.5.8/angular.js"></script>
        <script src="/webjars/angularjs/1.5.8/angular-resource.js"></script>
        <script src="/webjars/angularjs/1.5.8/angular-route.js"></script>
        <script src="/webjars/angularjs/1.5.8/angular-sanitize.js"></script>
        <script src="/webjars/angular-ui-select/0.19.6/select.js"></script>
        <script src="/webjars/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.js"></script>
        <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="/angularjs/restResource/resourceHandlerModule.js"></script>
        <script src="/angularjs/restResource/authenticationHandler.js"></script>
        <script src="/angularjs/restResource/nutritionResourceHandler.js"></script>
        <script src="/angularjs/restResource/workoutResourceHandler.js"></script>
        <script src="/angularjs/restResource/userResourceHandler.js"></script>
        <script src="/angularjs/helper/macronutrientsCalculator.js"></script>
        <script src="/angularjs/main/goToGoalModule.js"></script>
        <script src="/angularjs/main/goToGoalController.js"></script>
        <script src="/angularjs/main/workoutController.js"></script>
        <script src="/angularjs/main/nutritionController.js"></script>
        <script src="/angularjs/main/userController.js"></script>



    </head>

    <style>
        form .ng-valid { background-color: #FCF2CA; }
        span.summary.ng-invalid { color: red; font-weight: bold; }
        span.summary.ng-valid { color: green; }
        div.error {color: red; font-weight: bold;}
    </style>

    <body ng-app="goToGoalModule" ng-controller="goToGoalController">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"></a>
                    <img th:src="@{/images/logo.png}"/>
                </div>
                <ul class="nav navbar-nav">
                    <li ><a href="#">Strona główna</a></li>                                    
                </ul>
                <ul ng-if="!authenticated"  class="nav navbar-nav">
                    <li><a href="#/register">Rejestracja</a></li>  
                </ul>
                <ul ng-if="authenticated" class="nav navbar-nav">
                    <li><a href="#/nutritionDays">Dziennik żywieniowy</a></li>
                    <li><a href="#/workoutDays">Dziennik treningowy</a></li>
                    <li><a href="#/user">Mój profil</a></li>
                </ul>
                <ul ng-if="authenticated" class="nav navbar-nav pull-right">
                    <li><a>Zalogowany jako: <strong>{{user.email}}</strong></a></li>
                    <li><a href="" ng-click="logout()">Wyloguj</a></li>
                </ul>
                <div >
                    <div ng-if="!authenticated">
                        <form class="navbar-form navbar-right" role="form" ng-submit="login(credentials)">
                            <div class="form-group">
                                <input type="text" class="form-control" name="userEmail" placeholder="Email" ng-model="credentials.userEmail"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="password" placeholder="Password" ng-model="credentials.password"/>
                            </div>
                            <button type="submit" class="btn btn-default">Zaloguj się</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <div ng-if="alerter.display" class="row center-block">
            <div class="container">
                <div class="alert" ng-class="alerter.class">
                    <h4><strong>{{alerter.messageText}}</strong></h4> 
                </div>
            </div>

        </div>
    <ng-view />
</body>
</html>