<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div ng-controller="userController" class="row center-block">
    <div class="container">
        <h3>Zarejestruj się, by móc korzystać z serwisu</h3>
        <hr/>
        <form name="userForm" novalidate ng-submit="createUser(currentUser)">

            <div class="form-group">
                <label>Imię</label>
                <input name="userFirstName" type="text" class="form-control"
                       required ng-model="currentUser.firstName">
            </div>
            <div class="form-group">
                <label>Nazwisko:</label>
                <input name="userLastName" type="text" class="form-control"
                       required ng-model="currentUser.lastName">
            </div>
            <div class="form-group">
                <label>Data urodzenia (rrrr-MM-dd)</label>
                <input name="userBirthDate" type="text" class="form-control"
                       required ng-pattern="datePattern" ng-model="currentUser.birthDate">
            </div>
            <div class="form-group">
                <label>Wzrost cm</label>
                <input name="userHeight" type="number" class="form-control"
                       required ng-model="currentUser.height">
            </div>
            <div class="form-group">
                <label>Waga kg</label>
                <input name="userWeight" type="number" class="form-control"
                       required ng-model="currentUser.weight">
            </div>
            <div class="form-group">
                <label>E-mail:</label>
                <input name="userEmail" type="email" class="form-control"
                       required ng-model="currentUser.email">
            </div>
            <div class="form-group">
                <label>Hasło:</label>
                <input name="userPassword" type="password" class="form-control"
                       required ng-model="currentUser.password">
            </div>

            <button type="submit" class="btn  btn-block" ng-class="userForm.$valid ? 'btn-primary' : 'btn-default'"
                    ng-disabled="userForm.$invalid">
                OK
            </button>

            <hr/>
        </form>
    </div>  
</div>


