

<h3>{{nutritionDay.date}}</h3>
<h4>
    <b>Kalorie</b> {{nutritionDay.macronutrients.allCalories| number:1}}

    <b> Białka </b>
    {{nutritionDay.macronutrients.proteins.grams| number:1}} g 
    {{nutritionDay.macronutrients.proteins.calories.amount| number:1}} 
    ({{nutritionDay.macronutrients.proteins.calories.percentage| number:1}}%) kcal 

    <b>Węglowodany</b> 
    {{nutritionDay.macronutrients.carbohydrates.grams| number:1}} g 
    {{nutritionDay.macronutrients.carbohydrates.calories.amount| number:1}} 
    ({{nutritionDay.macronutrients.carbohydrates.calories.percentage| number:1}}%) kcal 

    <b>Tłuszcze</b>  
    {{nutritionDay.macronutrients.fats.grams| number:1}} g
    {{nutritionDay.macronutrients.fats.calories.amount| number:1}} 
    ({{nutritionDay.macronutrients.fats.calories.percentage| number:1}}%) kcal 
</h4>

